
.header {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-color: #177E89;
	text-align: center;
	color: 3943B7;
	background-color: FFC857;
}
h2 { 
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 32px;
	font-color: #177E89;
}

a { 
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	font-color: #177E89;
	font-family: 'Open Sans', sans-serif;
}
.about{
	font-family:'Open Sans Condensed', sans-serif;
font-size: 16px;
	text-align: center;
	float: right;
}

.images{
float: left
padding:16px;
	margin:16px;
}

.footer {
font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

.info {
font-family: 'Open Sans Condensed', sans-serif;
	margin: 2px;
padding: 20px;
display: flex;
	flex-wrap: wrap;
	 text-align: justify;
}
.nav {
	list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 20px;
}
	
.nav li{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	font-color: #177E89;
    padding: 20px;
	
}
