
.header {
	font-family: 'Kirang Haerang', cursive;
	font-size: 56px;
	justify-content: center;
	color: 3943B7;
	background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&h=350");
	background-size: cover;
}

.images{
padding: 10px;
	margin: 10px;
}

.body {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
}

.footer {
font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

.info {
font-family: 'Open Sans Condensed', sans-serif;
	margin: 2px;
border: 5px solid #FFFFFF;
padding: 10px;
display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.nav {
	font-family: 'Nunito', sans-serif;
	font-size: 10px;
	display: inline;
	float: center;
}	
