
.header {
	font-family: 'Kirang Haerang', cursive;
	font-size: 56px;
	color: 3943B7;
	background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&h=350");
  	background-size: cover;
}



.body {
font-family: Helvetica,serif;
}
